@page "/maincanvas"
@using Microsoft.AspNetCore.Components
@using SketchSphere.UI.Render
@using Excubo.Blazor.Canvas.Contexts

<PageTitle>MainCanvas</PageTitle>

<button onclick="@ClearAsync">Cleara</button>
<button @onclick="() => SelectToolAsync(Tool.Rectangle)">Rectangle</button>
<button @onclick="() => SelectToolAsync(Tool.Diamond)">Diamond</button>
<button @onclick="() => SelectToolAsync(Tool.Ellipse)">Ellipse</button>
<button @onclick="() => SelectToolAsync(Tool.Line)">Line</button>
<button @onclick="() => SelectToolAsync(Tool.Draw)">Draw</button>

<div
    onmousemove="@OnMouseMoveAsync"
    onmousedown="@OnMouseDownAsync"
    onmouseup="@OnMouseUpAsync">
    <Canvas
        Width="@_width"
        Height="@_height"
        @ref="_canvasReference">
    </Canvas>
</div>

@code {
    private int _width = 500;
    private int _height = 500;

    private Context2D _context;
    private Canvas _canvasReference;

    private bool _isMouseDown;
    private bool _isDrawingStated;

    private List<DrawingObject> _drawingObjects = new();

    private DrawingObject? _currentDrawingObject;
    private Tool _currentTool;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _context = await _canvasReference.GetContext2DAsync();

        if (firstRender)
        {
            await _context.StrokeStyleAsync("#ffffff");
            await _context.LineWidthAsync(5);
            await _context.LineCapAsync(LineCap.Round);
            await _context.LineJoinAsync(LineJoin.Round);

            await ClearCanvasAsync();
        }
    }

    private async Task OnMouseMoveAsync(MouseEventArgs e)
    {
        if (_isMouseDown)
        {
            var x = e.OffsetX;
            var y = e.OffsetY;

            if (_currentDrawingObject != null)
            {
                Action initDrawingObjectAsync = _currentDrawingObject switch
                {
                    Ellipse circle => () =>
                    {
                        circle.SetWidth(x);
                        circle.SetHeight(y);
                    },
                    Diamond diamond =>  () =>
                    {
                        diamond.SetWidth(x);
                        diamond.SetHeight(y);
                    },
                    Freedraw freedraw => () => { freedraw.AddPointAsync(x, y); },
                    Line line => () => { line.SetEndAsync(x, y); },
                    Rectangle rectangle =>  () =>
                    {
                        rectangle.SetWidth(x);
                        rectangle.SetHeight(y);
                    },
                    _ => throw new ArgumentOutOfRangeException(nameof(_currentDrawingObject))
                    };
                initDrawingObjectAsync();
            }
        }

        await RenderAsync();
    }

    private async Task RenderAsync()
    {
        await ClearCanvasAsync();

        foreach (var drawingObject in _drawingObjects)
        {
            await drawingObject.DrawAsync(_context);
        }
    }

    private async Task OnMouseDownAsync(MouseEventArgs e)
    {
        Console.WriteLine($"Click - X: {e.OffsetX} Y: {e.OffsetY}");
        var x = e.OffsetX;
        var y = e.OffsetY;
        _isMouseDown = true;

        DrawingObject drawingObject = _currentTool switch
        {
            Tool.Rectangle => new Rectangle(x, y),
            Tool.Diamond => new Diamond(x, y),
            Tool.Ellipse => new Ellipse(x, y),
            Tool.Line => new Line(x, y),
            Tool.Draw => new Freedraw(x, y),
            _ => throw new ArgumentOutOfRangeException(nameof(_currentTool), _currentTool, null)
            };

        _currentDrawingObject = drawingObject;
        _drawingObjects.Add(drawingObject);
    }

    private async Task OnMouseUpAsync(MouseEventArgs e)
    {
        _isMouseDown = false;
        _isDrawingStated = false;
        _currentDrawingObject = null;
    }

    private async Task ClearCanvasAsync()
    {
        await _context.FillStyleAsync("#1e1e1e");
        await _context.FillRectAsync(0, 0, _width, _height);
    }

    private async Task ClearAsync()
    {
        await ClearCanvasAsync();
        _drawingObjects.Clear();
    }

    private Task SelectToolAsync(Tool selectedTool)
    {
        Console.WriteLine($"Selected tool: {selectedTool}");
        _currentTool = selectedTool;
        return Task.CompletedTask;
    }

}