@page "/"
@using Microsoft.AspNetCore.Components
@using Excubo.Blazor.Canvas.Contexts
@using SketchSphere.UI.Render.Elements

<PageTitle>MainCanvas</PageTitle>

<button onclick="@ClearAsync">Cleara</button>
<button onclick="@ClearAsync">Srul</button>
<button @onclick="() => SelectToolAsync(Tool.Selection)">Selection</button>
<button @onclick="() => SelectToolAsync(Tool.Rectangle)">Rectangle</button>
<button @onclick="() => SelectToolAsync(Tool.Diamond)">Diamond</button>
<button @onclick="() => SelectToolAsync(Tool.Ellipse)">Ellipse</button>
<button @onclick="() => SelectToolAsync(Tool.Line)">Line</button>
<button @onclick="() => SelectToolAsync(Tool.Draw)">Draw</button>
<button @onclick="() => SelectToolAsync(Tool.Move)">Move</button>
<button @onclick="() => ZoomIn()">zum +</button>
<button @onclick="() => ZoomOut()">zum -</button>
<button @onclick="() => ResetZoom()">Reset</button>

<div
    onmousemove="@OnMouseMoveAsync"
    onmousedown="@OnMouseDownAsync"
    onmouseup="@OnMouseUpAsync">
    <Canvas
        Width="@_width"
        Height="@_height"
        @ref="_canvasReference">
    </Canvas>
</div>

@code {
    private int _width = 1920;
    private int _height = 1080;

    private Context2D _context;
    private Canvas _canvasReference;

    private bool _isMouseDown;
    private bool _isDrawingStated;

    private List<DrawingObject> _drawingObjects = new();
    private Selection? _selection = null;
    private SelectionBox? _selectionBox = null;

    private DrawingObject? _currentDrawingObject;
    private Tool _currentTool;

    private double _globalX = 0;
    private double _globalY = 0;
    private double _scale = 1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _context = await _canvasReference.GetContext2DAsync();

        if (firstRender)
        {
            await SetDefaultStyleSettings();
            await ClearCanvasAsync();
        }
    }

    private async Task SetDefaultStyleSettings()
    {
        await _context.StrokeStyleAsync("#ffffff");
        await _context.LineWidthAsync(5);
        await _context.LineCapAsync(LineCap.Round);
        await _context.LineJoinAsync(LineJoin.Round);
    }

    private async Task ZoomIn()
    {
        const double step = 1.05;
        _scale *= step;
        await _context.ScaleAsync(step, step);
        await RenderAsync();
    }

    private async Task ZoomOut()
    {
        const double step = 0.95;
        _scale *= step;
        await _context.ScaleAsync(step, step);
        await RenderAsync();
    }

    private async Task ResetZoom()
    {
        _scale = 1;
        _globalY = 0;
        _globalX = 0;

        await _context.SetTransformAsync(
            horizontal_scale: 1,
            vertical_skewing: 0,
            horizontal_skewing: 0,
            vertical_scaling: 1,
            horizontal_translation: 0,
            vertical_translation: 0);
        await RenderAsync();
    }

    private async Task OnMouseDownAsync(MouseEventArgs e)
    {
        _isMouseDown = true;

        if (_currentTool == Tool.Move)
        {
            return;
        }

        var x = (_globalX + e.OffsetX) * (1 / _scale);
        var y = (_globalY + e.OffsetY) * (1 / _scale);

        if (_currentTool == Tool.Selection)
        {
            if (_selectionBox?.IsSelectedAndFinished == true)
            {
                if (_selectionBox?.IsHit(x, y) != false)
                {
                    return;
                }

                await ClearSelection();
            }
            else
            {
                await TryToggleSelection(x, y);
            }

            return;
        }

        DrawingObject currentDrawingObject = _currentTool switch
        {
            Tool.Rectangle => new Rectangle(x, y),
            Tool.Diamond => new Diamond(x, y),
            Tool.Ellipse => new Ellipse(x, y),
            Tool.Line => new Line(x, y),
            Tool.Draw => new Freedraw(x, y),
            _ => throw new ArgumentOutOfRangeException(nameof(_currentTool), _currentTool, null)
            };

        _currentDrawingObject = currentDrawingObject;
        _drawingObjects.Add(currentDrawingObject);
    }

    private async Task OnMouseMoveAsync(MouseEventArgs e)
    {
        var x = (_globalX + e.OffsetX) * (1 / _scale);
        var y = (_globalY + e.OffsetY) * (1 / _scale);
        
        if (_isMouseDown && _currentTool == Tool.Move)
        {
            var deltaX = e.MovementX;
            var deltaY = e.MovementY;

            _globalX -= deltaX * (1 / _scale);
            _globalY -= deltaY * (1 / _scale);

            await _context.TranslateAsync(deltaX, deltaY);
        }

        if (_isMouseDown && _currentDrawingObject != null)
        {
            _currentDrawingObject.SetEnd(x, y);
        }

        if (_isMouseDown && _currentTool == Tool.Selection)
        {
            var deltaX = e.MovementX * (1 / _scale);
            var deltaY = e.MovementY * (1 / _scale);

            if (_selectionBox?.IsSelectedAndFinished == true)
            {
                _selectionBox.Move(deltaX, deltaY);
            }
            else if (_selection?.IsSelected == true)
            {
                _selection.Move(deltaX, deltaY);
            }
        }

        await RenderAsync();

        if (_isMouseDown
            && _currentTool == Tool.Selection
            && (_selection == null || _selection?.IsSelected == false)
            && (_selectionBox == null || _selectionBox?.IsSelectedAndFinished == false))
        {
            _selectionBox ??= new SelectionBox(x, y);
            _selectionBox.SetEnd(x, y);

            await _selectionBox.DrawAsync(_context);
            _selectionBox.ToggleSelected(_drawingObjects);
        }
    }

    private Task OnMouseUpAsync(MouseEventArgs e)
    {
        _isMouseDown = false;
        _isDrawingStated = false;
        _currentDrawingObject = null;

        if (_selectionBox?.IsSelected == true)
        {
            _selectionBox?.FinishDrawing();
        }

        if (_selectionBox?.IsSelectedAndFinished == false)
        {
            _selectionBox = null;
        }
        return Task.CompletedTask;
    }

    private async Task RenderAsync()
    {
        await ClearCanvasAsync();

        foreach (var drawingObject in _drawingObjects)
        {
            await drawingObject.DrawAsync(_context);
        }

        if (_selection?.IsSelected == true)
        {
            await _selection.DrawAsync(_context);
        }
        else if (_selectionBox?.IsSelectedAndFinished == true)
        {
            await _selectionBox.DrawAsync(_context);
        }
    }

    private async Task TryToggleSelection(double x, double y)
    {
        var selectedObject = _drawingObjects
            .FirstOrDefault(obj => obj.IsHit(x, y));

        if (selectedObject != null)
        {
            _selection = new Selection(x, y);
            _selection.Set(selectedObject);
            return;
        }

        await ClearSelection();
    }

    private async Task ClearSelection()
    {
        if (_selection?.IsSelected == true)
        {
            _selection.Clear();
            _selection = null;
            await RenderAsync();
        }

        if (_selectionBox?.IsSelectedAndFinished == true)
        {
            _selectionBox.Clear();
            _selectionBox = null;
            await RenderAsync();
        }
    }

    private async Task ClearCanvasAsync()
    {
        await _context.FillStyleAsync("#1e1e1e");
        await _context.FillRectAsync(
            x: _globalX * (1 / _scale),
            y: _globalY * (1 / _scale),
            width: _width * (1 / _scale),
            height: _height * (1 / _scale));
    }

    private async Task ClearAsync()
    {
        await ClearCanvasAsync();
        _drawingObjects.Clear();
    }

    private async Task SelectToolAsync(Tool selectedTool)
    {
        await ClearSelection();
        _currentTool = selectedTool;
    }

}